/* House DNA */

   
/* default styles
   -------------- */
   
body { 
	padding: 0; 
	margin: 0; 
	font: 0.7em Tahoma, sans-serif; 
	line-height: 1.5em;
	background: #fff; 
	color: #454545;
	}

a {	color: #E0691A;	background: inherit;}
a:hover { color: #6C757A; background: inherit; }

h1 { font: normal 2.1em Arial, Sans-Serif; letter-spacing: -1px; padding: 7px 0 0 8px; margin: 0; }
.dark  { color: #737373; background: inherit; font-weight: bold; }
h1 a, h2 a { text-decoration: none; }
h1 a:hover, h2 a:hover { color: #FF6600; background: inherit; }
h2 { margin: 0; padding: 0; font: bold 1.7em Arial, Sans-Serif; letter-spacing: -1px; }
h2 { font-size: 1.5em; margin-bottom: 5px; color: #000; background: inherit; }

p {	margin: 0 0 5px 0; }

ul { margin: 0; padding : 0; list-style : none; }

form { 	margin: 0; }


/* layout
   ------ */

.content { 
	margin: 0 auto;
	width: 880px;
	padding: 10px; 
}

.header { 
	height: 78px;
	width: 99%;
	background: #eee;
	color: #808080;
	margin: 3px 0;
	padding: 0 0 0 0;
	border-bottom: 1px solid #ccc;
}

.top_info {
	float: right;
	width: 500px;
	padding: 5px 0 4px 0;
	border-bottom: 1px solid #eee;
	background: #eee;
	color: #808080;
}

	.top_info_left {
		width: 200px;
		float: left;
	}

	.top_info_right {
		float: right;
		width: 310px;
		padding: 0 0 0 35px;
		border-left: 1px solid #eee;
	}



/* left side
   --------- */

.left {
	float: left;
	width: 25%;
	margin: 0 5px 10px 0; 
}

.left_articles {
		background: #f5f5f5;
		color: #414141;
		padding: 8px 0 8px 8px;	
		margin: 0 0 3px 0;
	}

.left h3 {
	clear: both;
	background: #6C757A url('corner.gif') no-repeat top right;
	color: #FFF;
	font-style:normal; font-variant:normal; font-weight:bold; font-size:1em; font-family:Tahoma, Arial, Sans-Serif; margin-left:0; margin-right:0; margin-top:0; margin-bottom:0px; padding-left:5px; padding-right:0; padding-top:7px; padding-bottom:7px
}

.left_box { margin: 1px 0 5px 0; color: #000; background: #FFF; padding: 3px 0; }


.right {
	float: right;
	width: 73%;
	margin: 0 10px 5px 0;
}

/* right side*/

/*search bar*/
.bar1 { 
	color: #808080;
	clear: both;
	font-weight: bold;
	padding: 1px 1px 1px 1px;
	margin: 5px 0;
	width:100%;
	float: left;
}

/*category bar*/

.bar { 
	clear: both;
	font-size: 1em;
	height: 30px;
	width:100%;
	float: left;
	color: #FFF;
	background: #F9A840 url('corner.gif') no-repeat top right;;; margin-left:0px; margin-right:0; margin-top:0; 
	margin-bottom:5px
}


	
/*left of right side*/
.right_left {
	float: left;
	width: 60%;
	margin: 0 0 5px 0;
}

.right_left h3 {
	clear: both;
	background: #A9C0CE url('corner.gif') no-repeat top right;
	color: #FFF;
	font-style:normal; font-variant:normal; font-weight:bold; font-size:1em; font-family:Tahoma, Arial, Sans-Serif; margin-left:0; margin-right:0; margin-top:0; margin-bottom:0px; padding-left:5px; padding-right:0; padding-top:7px; padding-bottom:7px
}
	
	.right_left_box { margin: 5px 0 5px 0; color: #000; background: #FFF; padding: 3px 0; }
	
	.right_left_box_scroll {
		margin: 5px 0 5px 0;
		color: #000;
		background: #FFF;
		padding: 3px 0;
		scrollbar-arrow-color:#414141;
		scrollbar-face-color:#E0691A;
		scrollbar-highlight-color:#E0691A;
		scrollbar-3dlight-color:#E0691A;
		scrollbar-darkshadow-color:#414141;
		scrollbar-shadow-color:#E0691A;
		scrollbar-track-color:#414141;
		overflow-x: hidden;
		overflow-y: scroll;
		height:80px;
		
		}
		
/* right of right side
   ---------- */
		
.right_right {
	float: right;
	width: 39.2%;
	margin: 0 0 0 5px;
}

.right_right h3 {
	background: #6C757A url('corner.gif') no-repeat top right;;
	color: #FFF;
	font-style:normal; font-variant:normal; font-weight:bold; font-size:1em; font-family:Tahoma, Arial, Sans-Serif; margin-left:0; margin-right:0; margin-top:0; margin-bottom:3px; padding-left:5px; padding-right:0; padding-top:7px; padding-bottom:7px
}

	.right_right_articles {
		background: #f5f5f5;
		color: #414141;
		padding: 8px 0 8px 0px;	
		margin: 0 0 0 0;
		scrollbar-arrow-color:#414141;
		scrollbar-face-color:#E0691A;
		scrollbar-highlight-color:#E0691A;
		scrollbar-3dlight-color:#E0691A;
		scrollbar-darkshadow-color:#414141;
		scrollbar-shadow-color:#E0691A;
		scrollbar-track-color:#414141;
		overflow-x: hidden;
		overflow-y: scroll;
		height:650px;
	}
	
.image {
	float: left;
	margin: 0 0px 3px 0;
	padding:5px;
	
}

/* footer
   ------ */

.footer { 
	clear: both;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 0;
	border-top: 1px solid #ccc;
	line-height: 1.8em;
}

.footer a { color: #808080; background: #fff; }